.timelineBtns {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-column-gap: 1.5rem;
  justify-content: center;
}

.btn {
  padding: 1rem 2rem;
  border-radius: 5px;
  border: 2px solid #fff;
  color: #fff;
  font-size: 1.6rem;
  letter-spacing: 1px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:active {
    transform: translateY(3px);
  }
}

.ripple {
  background-position: center;
  transition: background 0.8s;

  &:hover,
  &:focus {
    background: #3b3b3b radial-gradient(circle, transparent 1%, #3b3b3b 1%)
      center/15000%;
  }

  &:active {
    background-color: #636363;
    background-size: 100%;
    transition: background 0s;
  }
}
